*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

body{
font-family: 'Poppins', sans-serif;
}

nav{
    padding: 10px 0px;
}

nav a{
    font-weight: 600;
    padding-right:10px ;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: blue;
    background-color: antiquewhite;
}

#encabezado{
    min-height: 70px;
    background-color: #FC7300;
    align-items: center;
    padding: 10px;
}

#menu{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    background-color: #FC7300;
}

#menu a{
    padding: 10px;
}

#logo{
    display:flex;
    align-items: center;
    background-color: #FC7300;
}

#logo img{
    width: 100%;
    align-items: center;
}

#botonArriba{
    color: blueviolet;
    position: fixed;
    bottom: 20px;
    right: -100px;
    width: 60px;
    transition: all 2s;
}

#map{
}
#quienSomos{
    text-align: center;
    padding: 10px;
    background-color: #1F8A70;
}
#elegir{
    text-align: center;
    background-color: #00425A;
    padding: 10px;
}
#proposicion{
    text-align: center;
    color:white;
    background-color: #181823;
    padding: 10px;
}
#news{
    text-align: center;
    background-color: #EFF5F5;
    padding: 10px;
}
#formulario{
    padding: 10px;
}
#nombre{
    padding: 10px;
    text-align: center;
}
#mail{
    padding: 10px;
    text-align: center;
}
#btnEnv{
    padding: 10px;
}
#mensajeForm{
    text-align: center;
}
#areaTxt{
    resize: none;
    text-align: center;
}
#foot{
    background-color: #FC7300;
    align-items: center;
}

@media (min-width:700px){    
#menu{
    display: flex;
}
    #encabezado{
        display: flex;
        height: 70px;
        background-color:  #FC7300;
        justify-content: space-between;
    }
    #logo{
        display:flex;
        align-items: center;
        background-color: #FC7300;
        width: 15%;
        height: 70px;
    }
    #logo img{
        width: 100%;
        align-items: center;
    }
    #nosotros{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0;
        margin: 0;
    }
    #nosotros img{
        align-self: center;
    }
    #nosotros p{
        text-align: center;
    }
    #elegirnos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0;
        margin: 0;
    }
    #elegirnos img{
        align-self: center;
    }
    #elegirnos p{
        text-align: center;
    }
    #propuesta{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0;
        margin: 0;
    }
    #propuesta img{
        align-self: center;
    }
    #propuesta p{
        text-align: center;
    }
    #noticias{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0;
        margin: 0;
    }
    #noticias img{
        align-self: center;
    }
    #noticias p{
        text-align: center;
    }
    #mensajeMapa{
        text-align: center;
    }
    #formulario{
        margin: auto;
        /*margin-left: 350px;*/
        width: 50%;
    }
    #mapa{
        margin-left: 350px;
        align-self: center;
        margin: auto;
        width: 50%;
    }
}